# Ignore the pycache directories
__pycache__/

# Ignore the node_modules directory
node_modules/

# Ignore the npm related files
package-lock.json
package.json

# Ignore the python venv
somelang_env/

# Ignore the compose file, dockerfile, helper and requirements
docker-compose.yml
Dockerfile.fastspell
compose_helper.py
requirements.txt

# Ignore tests folders
tests_folder_**/

# Ignore PyPI configuration
.pypirc

# Ignore the github folder
.github/

# Ignore the pypi build related folders
build/
dist/
somelang.egg-info/
