# Ignore the pycache directories
__pycache__/

# Ignore the node_modules directory
node_modules/

# Ignore the npm related files
package-lock.json
package.json

# Ignore the python venv
test_env_01/
somelang_env/

# Ignore the test framework
test_framework/

# Ignore the compose file, dockerfile, helper and requirements
docker-compose.yml
Dockerfile.fastspell
compose_helper.py
requirements.txt

# Ignore tests folders
tests_folder_**/

# Ignore JavaScript/development files
franc_js/

# Ignore PyPI configuration
.pypirc